In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\User\Desktop\Jupyter-Practice\GoldPrice\goldprice.csv")

In [3]:
data["Date"] = pd.to_datetime(data["Date"])

In [4]:
years = data["Date"].dt.year

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9771 entries, 0 to 9770
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9771 non-null   datetime64[ns]
 1   Price   9771 non-null   float64
 2   Open    9771 non-null   float64
 3   High    9771 non-null   float64
 4   Low     9771 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 381.8 KB

In [6]:
data["Years"] = years

In [8]:
data.groupby("Years").mean()

             Price         Open         High          Low
Years
1979    522.300000   520.293333   523.100000   517.093333
1980    611.959921   613.400397   620.676984   603.833730
1981    458.490514   459.038735   461.826877   455.316601
1982    375.563745   375.357769   378.255378   372.517928
1983    423.452964   423.716601   425.510672   421.388538
1984    360.656522   360.593676   361.816996   359.466798
1985    317.517460   317.451984   318.415476   316.642460
1986    368.330677   368.270518   369.411554   366.964143
1987    447.056522   447.150988   448.533597   445.621344
1988    437.059524   437.184127   438.155952   436.121032
1989    382.072222   381.876984   382.792063   381.041270
1990    383.798016   383.827778   384.955952   382.587698
1991    362.462698   362.802778   363.058730   361.838492
1992    343.773333   343.874510   344.218431   343.480000
1993    360.171260   360.271260   360.885039   359.447244
1994    384.077689   384.259363   384.788446   383.576096
1995    384.484585   384.553360   384.942688   384.184585
1996    387.891304   387.987352   388.333597   387.498024
1997    331.435317   331.612302   332.075000   330.922619
1998    294.214343   294.321116   294.898805   293.691235
1999    278.890000   279.009600   279.596400   278.329600
2000    278.885141   278.853012   279.569880   278.330120
2001    271.068826   270.969231   271.480162   270.496761
2002    310.479032   310.312903   311.226210   309.599194
2003    363.620884   363.479518   364.760241   362.385944
2004    409.579839   409.645565   410.743145   408.318952
2005    445.112749   444.941434   446.096813   443.929880
2006    603.977381   604.033730   606.077381   601.665873
2007    697.005159   696.696032   698.968254   694.639683
2008    870.982609   872.144269   879.829249   863.409881
2009    974.149206   974.072222   981.236905   966.254762
2010   1227.501984  1226.680159  1234.019048  1219.309921
2011   1572.135714  1572.915476  1583.508333  1560.788492
2012   1669.157143  1668.988889  1676.487302  1659.990873
2013   1407.275781  1409.304297  1417.727344  1398.032031
2014   1265.730534  1265.525954  1271.298473  1259.829389
2015   1160.310227  1160.870076  1166.678788  1154.668182
2016   1248.176604  1248.005660  1255.206792  1241.415472
2017   1257.635303  1257.263333  1261.366212  1253.072841
2018   1305.352258  1305.656774  1309.180645  1301.761935

In [16]:
data[].groupby("Years")

KeyError: 'Years'